<div class="container mt-5">
  <div class="row">
    <div class="col-7">
      <div id="carouselExampleControlsNoTouching" class="carousel slide" data-bs-touch="false" data-bs-interval="false">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="assets/images/mercedes1.jpg" class="d-block w-100" alt="car">
          </div>
          <div class="carousel-item">
            <img src="assets/images/mercedes2.jpg" class="d-block w-100" alt="car">
          </div>
          <div class="carousel-item">
            <img src="assets/images/mercedes3.jpg" class="d-block w-100" alt="car">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControlsNoTouching"
                data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControlsNoTouching"
                data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>
    <div class="col-5">
      <div class="row">
        <div class="col text-center">
          <h1>Mercedes-Benz S 500 L</h1>
        </div>
      </div>
      <div class="row">
        <div class="col mb-2">
          <span class="fs-5 fw-bold">Година на производство: </span><span class="fs-5">25.05.2011</span>
        </div>
      </div>
      <div class="row">
        <div class="col mb-2">
          <span class="fs-5 fw-bold">Двигател: </span><span class="fs-5">5.0 Осемцилиндров V-образен, Бензинов</span>
        </div>
      </div>
      <div class="row">
        <div class="col mb-2">
          <span class="fs-5 fw-bold">Скоростна кутия: </span><span class="fs-5">Автоматична</span>
        </div>
      </div>
      <div class="row">
        <div class="col mb-2">
          <span class="fs-5 fw-bold">Мощност(к.с): </span><span class="fs-5">387 к.с</span>
        </div>
      </div>
      <div class="row">
        <div class="col mb-2">
          <span class="fs-5 fw-bold">Тип купе: </span><span class="fs-5">Лимузина</span>
        </div>
      </div>
      <div class="row">
        <div class="col mb-2">
          <span class="fs-5 fw-bold">Допълнителна информация:</span>
          <p class="fs-5">
            Автомобил подходящ за ценителите на комфорта и лукса. Най-високо ниво на оборудване-Long версия. Оборудван с
            AMG пакет за по-стилна визия. Изключително надежден автомобил подходящ за дълги пътувания.
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col mb-2">
          <span class="fs-5 fw-bold">Особености и Екстри: </span>
          <p class="fs-5">
            <span class="fw-bold">Комфорт: </span> Климатроник, Кожен салон, Ел.стъкла, Ел.огледала, Ел.седалки,
            Подгряване на седалки, Шибедах, Стерео уредба, Алуминиеви джанти, DVD/TV, Мултифункционален волан
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col mb-2">
          <p class="fs-5">
            <span class="fw-bold">Сигурност: </span> ABS, ESP, Airbag, Ксенонови фарове, ASR/Тракшън контрол,
            Парктроник, Аларма, Имобилайзер, Центр. заключване, Застраховка, Старт-Стоп система, Безключово палене
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col mb-2">
          <p class="fs-5">
            <span class="fw-bold">Друго: </span> AMG пакет, Типтроник/Мултитроник, Автопилот, Серво управление, Бордови
            компютър, Навигационна система
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col mb-2 text-center">
          <p class="fs-4 fw-bold">
            Цена: 34000 лв
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
