<div class="col-md-12">
  <div class="card card-container">
    <img
      id="profile-img"
      src="//ssl.gstatic.com/accounts/ui/avatar_2x.png"
      class="profile-img-card"
    />
    <form
      *ngIf="!isLoggedIn"
      name="form"
      (ngSubmit)="f.form.valid && onSubmit()"
      #f="ngForm"
      novalidate
    >
      <div class="form-group">
        <label for="username">Потребителско име</label>
        <input
          type="text"
          class="form-control"
		  id="username"
          name="username"
          [(ngModel)]="form.username"
          required
          #username="ngModel"
        />
        <div
          class="alert-danger"
          role="alert"
          *ngIf="username.errors && f.submitted"
        >
          Потребителското име е задължително
        </div>
      </div>
      <div class="form-group">
        <label for="password">Парола</label>
        <input
          type="password"
          class="form-control"
		  id="password"
          name="password"
          [(ngModel)]="form.password"
          required
          minlength="6"
          #password="ngModel"
        />
        <div
          class="alert-danger"
          role="alert"
          *ngIf="password.errors && f.submitted"
        >
          <div *ngIf="password.errors.required">Паролата е задължителна</div>
          <div *ngIf="password.errors.minlength">
			  Паролата трябва да е поне 6 символа
          </div>
        </div>
      </div>
      <div class="form-group text-center mt-3">
        <button class="btn btn-primary">
          Влез
        </button>
      </div>
      <div class="form-group">
        <div
          class="alert-danger"
          role="alert"
          *ngIf="f.submitted && isLoginFailed"
        >
          Неуспешно влизане {{ errorMessage }}
        </div>
      </div>
    </form>

<!--    <div class="alert-success" *ngIf="isLoggedIn">-->
<!--      Logged in as {{ roles }}.-->
<!--    </div>-->
  </div>
</div>
