<div class="container mt-5">
  <div class="row">
    <div class="col-3">
      <div class="card" style="width: 18rem;">
        <img src="assets/images/audi.jpg" class="card-img-top" alt="car">
        <div class="card-body">
          <h5 class="card-title">Audi A8</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
          <a routerLink="/car" routerLinkActive="active" class="btn btn-primary">Find out more</a>
        </div>
      </div>
    </div>
    <div class="col-3">
      <div class="card" style="width: 18rem;">
        <img src="assets/images/mercedes.jpg" class="card-img-top" alt="car">
        <div class="card-body">
          <h5 class="card-title">Mercedes S 500 L</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
          <a routerLink="/car" routerLinkActive="active" class="btn btn-primary">Find out more</a>
        </div>
      </div>
    </div>
    <div class="col-3">
      <div class="card" style="width: 18rem;">
        <img src="assets/images/rr.jpg" class="card-img-top" alt="car">
        <div class="card-body">
          <h5 class="card-title">Rolls-Royce Phantom</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
          <a routerLink="/car" routerLinkActive="active" class="btn btn-primary">Find out more</a>
        </div>
      </div>
    </div>

  </div>
</div>

